.resume {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before__circle;
        &:before {
            top: -5px;
            left: 50%;
            transform:translateX(-50%);
        }
        &-location {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        padding: 0 65px;
        display: flex;
        justify-content: space-between;
        
    }
    &__column {
        width: 425px;
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform:translateY(-50%);
            }
        }
        ul {
            list-style: none;
            li {
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: calc(100% + 16px);
                    top: -16px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: 1px;
            padding-left: 43px;
            background-color: #000;
            top: 50px;
        }
        &-head {
            padding: 30px 0 0 100px;
            position: relative;
            h4 {
                margin: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 32px;
            left: 42px;
            @include before__circle;
            img {
                position: absolute;
                left: 17px;
                top: 12px;
            }
        }
    }
    
}