.sidepanel {
    position: fixed;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    top: 230px;
    left: 50px;
    &__divider {
        height: 70px;
        width: 2px;
        background-color: #000;
    }
    &__link {
        transition: .5s ease;
        &:hover {
            transform: scale(1.2);
        }
        img {
            width: 25px;
            height: 25px;
            transform: rotate(-90deg);
        }
    }
    &__text {
        width: 25px;
        height: 150px;
        span {
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-40%, -265%);
        }
    }
}