.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &__main {
        position: relative;
        text-align: center;
        @include before__circle;
        &:before {
            top: -5px;
            left: 50%;
            transform:translateX(-50%);
        }
    }
}
.subtitle {
    text-align: center;
}
